body{
    background-color: #444444;
    margin: 0;
}

*{
    box-sizing: content-box;
}

.main-panel{
    background-color: #929292;
    position: relative;
    left: 50px;
    height: 40px;
    width: 700px;
    padding-left: 5px;
    margin-bottom: 5px;
    border-radius: 0 0 5px 5px;
}

.toolbar{
    background-color: #929292;
    height: 350px;
    width: 36px;
    padding-top: 3px;
    margin-left: 5px;
    margin-right: 20px;
    border-radius: 2px;
}

.main-panel [class |= "icon"] {
    background-color: #e3e3e3;
    display: inline-block;
    height: 34px;
    width: 34px;
    margin-right: 3px;
    margin-top: 7px;
    font-size: 30px;
    position: relative;
    bottom: 5px;
    border-radius: 3px;
    color: #224071;
}

.toolbar [class |= "icon"] {
    background-color: #e3e3e3;
    width: 30px;
    height: 30px;
    margin-left: 3px;
    margin-bottom: 3px;
    border-radius: 2px;
    color: #224071;
    cursor: default;
}

.toolbar [class |= "icon"]:nth-of-type(7) {
    position: relative;
    top: 36px;
}

.toolbar [class |= "icon"]:before{
    position: relative;
    left: 4px;
    top: 4px;
    font-size: 22px;
}

.main-panel [class |= "icon"]:before {
    position: relative;
    left: 2px;
    top: 2px;
}

.main-panel [class |= "icon"]:nth-child(2):before {
    left: 3px;
}

.canvas{
    position: absolute; 
    left: 50px;
    top: 45px;
    background-color: white;
    box-shadow: 5px 5px 5px #222222;
}

.toolbar [class $= "active-tool"] {
    background-color: #97dbff;
}

div.sp-replacer{
    border: 1px solid white;
}

.color1 ~ .sp-replacer, .color2 ~ .sp-replacer{
    width: 18px;
    height: 18px;
    position: absolute;
}

.color1 + .sp-replacer{
    top: 246px;
    left: 8px;
    z-index: 10;
}

.color2 + .sp-replacer{
    top: 259px;
    left: 18px;
}

.sp-replacer .sp-preview{
    border: 0;
    width: 20px;
    height: 20px;
}

.main-panel [type="number"] {
    width: 40px;
    display: none;
    position: relative;
    top: -30%;
    margin-left: 10px;
}

.icon-save a{
    display: inline-block;
    width: 34px;
    height: 34px;
    position: absolute;
    left: 0px;
}

input[type="file"] {
    
    position: relative;
    top: -50%;
    display: none;

    -webkit-transform: translateY(50%);
    -ms-transform: translateY(50%);
    transform: translateY(50%);

}

.overlay{
    position: absolute; 
    left: 50px;
    top: 45px;
}

